{{#site.ga4Id}}
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.ga4Id}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{site.ga4Id}}');
</script>
{{/site.ga4Id}} 